/* CUSTOM PROPERTYS */
:root {
    --accent-blue: #5267DF;
    --accent-red: #FA5959;
    --silver: #9194A2;
    --text-color: #242A45;
    --text-color-75: #242a45bf;
    --text-color-50: #242a4580;
}

/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Rubik", "Arial", sans-serif;
    font-style: 16px;
    line-height: 36px;
    background-color: #fff;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* VISUALLY HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* BUTTON */
.global-btn {
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    padding: 10px 24px;
}
.global-btn__blue {
    border: 2px solid var(--accent-blue);
    background-color: var(--accent-blue);
    color: #fff;
}
.global-btn__blue:hover {
    background-color: #fff;
    color: var(--accent-blue);
}

.global-btn__alpha {
    border: 2px solid #F7F7F7;
    background-color: #F7F7F7;
    color: var(--text-color);
}
.global-btn__alpha:hover {
    background-color: #fff;
    color: var(--text-color);
    border-color: var(--text-color);
}


.global-btn__red {
    padding: 10px 0;
    padding-left: 30px;
    padding-right: 32px;
    border: 2px solid var(--accent-red);
    color: #fff;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: var(--accent-red);
}
.global-btn__red:hover {
    background-color: #fff;
    color: var(--accent-red);
}

/* RETINA BG */
@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        /* retina bg img */
}
/* //RETINA BG */


/* SITE HEADER */
.site-header {
    padding-top: 48px;
}
.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-logo__link {
    display: flex;
    align-items: center;
}
.site-logo__link:hover {
    opacity: 0.6;
}

.site-logo__img {
    width: 149px;
    height: 25px;
}
.sitenav {
    display: flex;
    align-items: center;
}
.sitenav-list {
    display: flex;
    align-items: center;

}
.sitenav-item:first-child {
    margin-right: 44px; 
}
.sitenav-item {
    margin-right: 48px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
}
.sitenav-link:hover {
    color: var(--accent-red);
}

/* //SITE HEADER */


/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
}


/* HERO */
.section-hero {
    padding-top: 110px;
    padding-bottom: 180px;
    background-image: url(../img/bg-img.svg);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: left calc(50% + 700px) bottom 80px;
}
.section-hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-hero__info {
    width: 540px;
    margin-right: 65px;
}
.section-hero__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.15px;
    margin-bottom: 24px;
}
.section-hero__text {
    font-size: 17.7px;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--text-color-50);
    font-weight: 400;
    margin-bottom: 32px;
}
.section-hero__btn {
    margin-right: 16px;
}
.section-hero__img {
    width: 524px;
    height: 341px;
    border-radius: 25px;
}
/* //HERO */


/* FEATURES */
.section-features {
    padding-bottom: 238px;
    background-image: url(../img/bg-img.svg);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: right calc(50% + 700px) bottom 149px;
}
.section-features__title {
    width: 500px;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
}
.section-features__text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--text-color-50);
    text-align: center;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.section-features__links-list {
    width: 730px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.5px;
    margin-bottom: 72px;
    border-bottom: 1px solid #495DCF33;
}
.section-features__links-item {
    padding-bottom: 32px;
    width: 243px;
    text-align: center;
    color: var(--text-color-75);
}
.section-features__links-item:hover {
    color: var(--accent-red);
}
.section-features__links-item--outline {
    border-bottom: 4px solid var(--accent-red);
    padding-bottom: 27px;
    color: var(--text-color);
}
.section-features__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-features__main-img {
    width: 536px;
    height: 346px;
    border-radius: 8px;
}
.section-features__main-info {
    width: 445px;
}
.section-features__main-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    margin-bottom: 16px;
}
.section-features__main-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--text-color-50);
    margin-bottom: 32px;
}
/* //FEATURES */


/* EXTENSION */
.section-extension {
    padding-bottom: 149px;
}
.section-extension__container {
}
.section-extension__title {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    margin-bottom: 16px;
}
.section-extension__text {
    width: 540px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--text-color-50);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.section-extension__card-list {
    width: 911px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-extension__card-item {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    padding-top: 49px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -5px #495DCF33;
    background-image: url(../img/extension-card__img.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 0px bottom 96px;
}
.section-extension__card--first {
}
.section-extension__card-img {
    margin-bottom: 32px;
}
.section-extension__card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.25px;
    margin-bottom: 6px;
}
.section-extension__card-text {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--text-color-50);
    margin-bottom: 60px;
}
.section-extension__card-btn {
    display: block;
}
.section-extension__card--second {
    margin-top: 40px;
}
.section-extension__card--third {
    margin-top: 80px;
}
/* //EXTENSION */