/* CUSTOM PROPERTYS */
:root {
    --accent-blue: #5267DF;
    --accent-red: #FA5959;
    --silver: #9194A2;
    --text-color: #242A45;
    --text-color-75: #242a45bf;
    --text-color-50: #242a4580;
}

/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Rubik", "Arial", sans-serif;
    font-style: 16px;
    line-height: 36px;
    background-color: #fff;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    display: block;
    border: 0;
    background-color: transparent;
}

/* VISUALLY HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* BUTTON */
.global-btn {
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    padding: 10px 24px;
}
.global-btn__blue {
    border: 2px solid var(--accent-blue);
    background-color: var(--accent-blue);
    color: #fff;
}
.global-btn__blue:hover {
    background-color: #fff;
    color: var(--accent-blue);
}

.global-btn__alpha {
    border: 2px solid #F7F7F7;
    background-color: #F7F7F7;
    color: var(--text-color);
}
.global-btn__alpha:hover {
    background-color: #fff;
    color: var(--text-color);
    border-color: var(--text-color);
}


.global-btn__red {
    padding: 10px 0;
    padding-left: 30px;
    padding-right: 32px;
    border: 2px solid var(--accent-red);
    color: #fff;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: var(--accent-red);
}
.global-btn__red:hover {
    background-color: #fff;
    color: var(--accent-red);
}

/* RETINA BG */
@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        /* retina bg img */
}


/* Global Section */
.section-tite__wrapper {
    width: 540px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.section-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    margin-bottom: 16px;
}
.section-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--text-color-50);
}


/* SITE HEADER */
.header {
    padding-top: 48px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-link {
    display: flex;
    align-items: center;
}
.logo-link:hover {
    opacity: 0.6;
}

.logo-img {
    width: 149px;
    height: 25px;
}
.nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;

}
.nav-item:first-child {
    margin-right: 44px; 
}
.nav-item {
    margin-right: 48px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
}
.nav-link:hover {
    color: var(--accent-red);
}

/* //SITE HEADER */


/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
}


/* HERO */
.hero{
    padding-top: 110px;
    padding-bottom: 180px;
    background-image: url(../img/bg-img.svg);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: left calc(50% + 700px) bottom 80px;
}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-info {
    width: 540px;
    margin-right: 65px;
}
.hero-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.15px;
    margin-bottom: 24px;
}
.hero-text {
    font-size: 17.7px;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--text-color-50);
    font-weight: 400;
    margin-bottom: 32px;
}
.hero-btn {
    margin-right: 16px;
}
.hero-img {
    width: 524px;
    height: 341px;
    border-radius: 25px;
}
/* //HERO */


/* FEATURES */
.features {
    padding-bottom: 238px;
    background-image: url(../img/bg-img.svg);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: right calc(50% + 700px) bottom 149px;
}
.features__tite-wrapper {
    margin-bottom: 72px;
}
.features-title {
    width: 500px;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
}
.features-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--text-color-50);
    text-align: center;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.features-links__list {
    width: 730px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.5px;
    margin-bottom: 72px;
    border-bottom: 1px solid #495DCF33;
}
.features-links__item {
    padding-bottom: 32px;
    width: 243px;
    text-align: center;
    color: var(--text-color-75);
}
.features-links__item:hover {
    color: var(--accent-red);
}
.features-links__item--outline {
    border-bottom: 4px solid var(--accent-red);
    padding-bottom: 27px;
    color: var(--text-color);
}
.features-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.features-main__img {
    width: 536px;
    height: 346px;
    border-radius: 8px;
}
.features-main__info {
    width: 445px;
}
.features-main__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    margin-bottom: 16px;
}
.features-main__text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--text-color-50);
    margin-bottom: 32px;
}
/* //FEATURES */


/* EXTENSION */
.extension {
    padding-bottom: 149px;
}
.extension__tite-wrapper {
    margin-bottom: 48px;
}
.extension-title {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    margin-bottom: 16px;
}
.extension-text {
    width: 540px;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--text-color-50);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.extension-card__list {
    width: 911px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.extension-card__item {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    padding-top: 49px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -5px #495DCF33;
    background-image: url(../img/extension-card__img.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 0px bottom 96px;
}
.extension-card__img {
    margin-bottom: 32px;
}
.extension-card__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.25px;
    margin-bottom: 6px;
}
.extension-card__text {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--text-color-50);
    margin-bottom: 60px;
}
.extension-card__btn {
    display: block;
}
.extension-card__second {
    margin-top: 40px;
}
.extension-card__third {
    margin-top: 80px;
}
/* //EXTENSION */


/* FAQ */
.faq {
    padding-bottom: 150px;
}
.faq-title__wrapper {
    margin-bottom: 56px;
}
.faq-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
}
.faq-item {
    width: 100%;
    border-top: 1px solid var(--text-color-50);
}
.faq-item:hover .accordion-title {
    color: var(--accent-red);
}
.faq-item:last-child {
    border-bottom: 1px solid var(--text-color-50);
}
.faq-accordion {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding-top: 19px;
    padding-bottom: 13px;
    border: 0;
    cursor: pointer;
}
.accordion-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
}
.accordion-icon {
    margin-right: 24px;
    transition: all 0.3s ease;
}
.faq-accordion__main {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.15px;
    color: var(--text-color-75);
    transition: all 0.3s ease;
    transform-origin: top;
    transform: rotateX(90deg);
    height: 0;
}

.faq-item--open .faq-accordion__main{
    transform: rotateX(0deg);
    height: 180px;
}
.faq-item--open .accordion-icon {
    color: var(--accent-red);
    transform: rotate(180deg);
}

.faq-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* //FAQ */


/* CTA */
.cta {
    padding-top: 58px;
    padding-bottom: 74px;
    background-color: var(--accent-blue);
    color: #fff;
}
.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 442px;
}
.cta-text {
    font-weight: 500;
    font-size: 13px;
    line-height: 40px;
    letter-spacing: 5px;
    margin-bottom: 24px;
}
.cta-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.1px;
    text-align: center;
    width: 408px;
    margin-bottom: 36px;
}
.cta-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
}
.cta-input {
    max-width: 300px;
    width: 100%;
    display: block;
    border: 0;
    background-color: #fff;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    margin-right: 16px;
    border-radius: 5px;
}
.cta-input::placeholder {
    color: #242A4540;
    
}
.cta-btn {
    background-color: var(--accent-red);
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    padding: 8px 22px;
    color: #fff;
    border: 2px solid var(--accent-red);
}

.cta-btn:hover {
    background-color: white;
    color: var(--accent-red);
}
/* //CTA */


/* FOOTER */
.footer {
    background-color: #242A45;
    color: #fff;
    padding-top: 32px;
    padding-bottom: 32px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
}
.footer-logo__link {
    margin-right: 63px;
}
.footer-nav {
}
.footer-list {
    display: flex;
}
.footer-link {
}
.footer-link:not(:last-child) {
    margin-right: 40px;
}
.footer-link__icon:hover {
    color: var(--accent-red);
}
/* //FOOTER */